/* FONT  */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

a:active,
a:link,
a:visited,
a:hover {
  text-decoration: none;
  color: inherit;
}

.debug * {
  border: 1px solid black;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  min-height: 100vh;
  background-color: var(--lightGray);
  font-family: "Poppins", sans-serif;
}

:root {
  --red: #ee706b;
  --lightRed: #e2a8a6;
  --lightBlue: #a6c7e2;
  --lightGray: rgb(235, 235, 235);
}
